<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <a class="white-title" >NY Taxi Database App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav navbar-left mr-auto">
        <li class="nav-item active" [routerLinkActive] = "['active']">
          <a class="nav-link"  [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" [routerLinkActive] = "['active']">
          <a class="nav-link"  [routerLink]="['/test']">Tests <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item active" [routerLinkActive] = "['active']">
          <a class="nav-link"  [routerLink]="['/timegraph']">Time Graph <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" [routerLinkActive] = "['active']">
          <a class="nav-link"  [routerLink]="['/cost']">Cost Map <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" [routerLinkActive] = "['active']">
          <a class="nav-link"   [routerLink]="['/netflow']">Inflow/Outflow <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" [routerLinkActive] = "['active']">
          <a class="nav-link"  [routerLink]="['/maps']">Zone Map <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active" style="padding-left: 40px">
          <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">Search</button>
        </li>
      </ul>
    </div>
  </nav>
