
.registrationheader {
  margin-bottom:10vh;
  margin-left: 20%;
  margin-right: 20%;
}

.profileform {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10vh;
  text-align:left !important;
}

 .form-group {

  margin-bottom: 50px
}

.backgroundregistration {
  background-image:url('../../../../assets/img/image1.jpg');
  position: absolute;
  top: 0;
  height:100vh;
  width: 100%;
  z-index: -20;
  opacity: .7;
}
.centered {
  position: absolute;
  width: 75vw;
  height: 80vw;
  top:20%;
  left:10%;
  background: red;
  z-index: -10;
  background-color: #CFD0D1;
}

.spacer {
  margin-top:6vh;
}

.border1profile {
  border-color: transparent !important;
  background-color: #111111 !important;
  color: white;
  padding:20px;
  margin-bottom: 10vh;
  padding-right: 10 !important;
  margin-right: 30px;
  color:#fff;
  font-size:27px;
  font-weight: 600;
  letter-spacing:8px;
}

.border1subprofile {
  border-color: transparent !important;
  background-color: #111111 !important;
  color: white;
  padding:20px;
  margin-bottom: 10vh;
  padding-right: 0 !important;
  margin-right: 30px;
  color:#fff;
  font-size:22px;
  font-weight: 300;
  letter-spacing:8px;
}

.border1sub {

  color:#000;
  font-size:22px;
  font-weight: 600;
  letter-spacing:2px;
}

.ptextregister {
  position: absolute;
  top:25vh;
  width:100%;
  text-align:center;

  text-transform:uppercase;
  border-color: transparent;
}


.section-light{
   background-color: #CFD0D1;
   color: #4A4A4A !important;
}
