<div class="pimg5-4">
  <div class = "ptext">
    <span class = "border1">
      Average Trip time
    </span>
   </div>
  </div>

<section class="section section-dark">
  <p class = "backendtest">
    Use this page to analyze average trip times and fares in varying weather conditions.
    Click one of the buttons to sort results based on temperature windspeed or overall weather
    condition.
  <div>
  <input type="submit" (click) = "TempResults()" class="btn-2" value="Temperature"> &nbsp;
  <input type="submit" (click) = "Windspeed()" class="btn-2" value="Windspeed"> &nbsp;
  <input type="submit" (click) = "Condition()" class="btn-2" value="Conditions"> &nbsp;
  </div>
</section>

<section class="section section-white">
<div id="overlay" #overlay><div id="text">Loading...</div></div>
    <canvas #lineChart> {{ chart }}
    </canvas>

</section>


<footer>
  <section class="section section-dark">
    <div class="row">
      <div>
        <span class="label label-primary">Author:  </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-1">
        <a href="https://github.com/hackleman" target="_blank">GitHub</a>
      </div>
    </div>
    </section>
</footer>
