<div class="pimg5-7">
  <div class = "ptext">
    <span class = "border1">
      AVERAGE COST BY WEATHER TYPE
    </span>
   </div>
  </div>
  <section class="section section-dark">
    <p>
      Select one of the headings below to show a color coded map by weather condition.  Dark colored zones
      indicate a lower than normal average fare during that condition for that zone.  Click on a zone
      for more detailed information.
    </p>

      <br>
      <br>
      <button (click)="setType(1)" class="btn-2">Snow </button> &nbsp;
      <button (click)="setType(2)" class="btn-2">Rain </button> &nbsp;
      <button (click)="setType(3)" class="btn-2">Clear </button> &nbsp;

  </section>

<div #gmap  style = "width: 100%; height: 100vh"></div>
<div id="overlay" #overlay><div id="text">Loading...</div></div>

  <footer>
    <section class="section section-dark">
      <div class="row">
        <div>
          <span class="label label-primary">Author:  </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        </div>
        <div class="col-md-1">
          <a href="https://github.com/hackleman" target="_blank">GitHub</a>
        </div>
      </div>
      </section>
  </footer>
