@keyframes example {
  from {width: 0%;
  }
  to {width: 100%;
  }

}

.menu-container {
  color: #000;
    /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.select-option {
  
}
.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  justify-content: space-between;
}

#html {
  height: 100vh;
}


.container {
padding-top: 100px;
position:relative;
height: 100vh;
width: 100vh;
}
