<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


       <div class="pimg5index">
         <div class = "ptext">
           <span class = "border">
             Map Based Visualizations
           </span>
          </div>
         </div>

     <!-- Headings -->

      <section class="section section-light">
        <p>
        Our map based visualizations are organized into categories to help you find an appropriate service.
        Need to know average transit times across the city?  Try Transit Time By Zone.
        Wondering the best time of day to hail a taxi to minimize your fare?  Try the Time of Day map.
        Each of these pages provide maps organized by zones and flexibility with how your reults are displayed.
        </p>
        </section>
        <div [routerLink]="['/netflow']" class="pimg5index2">
          <div class = "ptext">
            <span class = "border">
              NET INFLOW/OUTFLOW
            </span>
           </div>
          </div>

        <div [routerLink]="['/maps']" class="pimg5index1">
          <div class = "ptext">
            <span class = "border">
              TRANSIT TIME BY ZONE
            </span>
           </div>
          </div>

        <div [routerLink]="['/timegraph']" class="pimg5index4">
          <div class = "ptext">
            <span class = "border">
            WEATHER
            </span>
           </div>
          </div>

        <div [routerLink]="['/cost']" class="pimg5index3">
          <div class = "ptext">
            <span class = "border">
            TIME OF DAY AND AVERAGE FARE
            </span>
           </div>
          </div>

          <footer>
            <section class="section section-dark">
              <div class="row">
                <div>
                  <span class="label label-primary">Author:  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
                </div>
                <div class="col-md-1">
                  <a href="https://github.com/hackleman" target="_blank">GitHub</a>
                </div>
              </div>
              </section>
          </footer>
