@keyframes example {
  from {width: 0%;
  }
  to {width: 100%;
  }

}
.container {padding-top: 50px;}

#overlay {
 /* Sit on top of the page content */
  position: fixed;
   /* Hidden by default */
   display: none;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
}
#text {
  position: absolute;
top: 50%;
left: 50%;
font-size: 50px;
color: white;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
}

#legend {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 20px;
  background: rgba(25, 25, 25, .2);
  padding: 10px;
  margin: 10px;

}

.map-content {
    z-index: 10;
    position: absolute;
    top: 43vh;
    left: 1vh;
    width: 390px;
    border-color: transparent !important;
    background-color: transparent !important;
    color: transparent !important;
}
.menu-container {
  color: #000;
    /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  border-color: transparent !important;
  background-color: #E8E8E8 !important;
}
.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  justify-content: space-between;
  border-color: transparent !important;
}
#legendtext {
  float:left
}

#square {
  width: 50px;
  height: 50px;
  background: red;
  padding: 10px;

}
#square2 {
  width: 50px;
  height: 50px;
  background: blue;
  padding: 10px;

}

#square2text {
  margin-left:100px;
}
#squares {
  float: right;
}
#squaretext {
  margin-left: 100px;
}

.menu-container {
  color: #000;
    /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  justify-content: space-between;
}

#html {
  height: 100vh;
}
#map {
  height: 100vh;
  width: 100vh;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container {
position:relative;
height: 100vh;
width: 100vh;
}
