<div class="pimg5-2">
  <div class = "ptext">
    <span class = "border">
      NET INFLOW/OUTFLOW
    </span>
   </div>
  </div>
  <section class="section section-dark">
    <p>
      A visualization of the net flow into and out of zones by time of day.  Red represents a net outflow while blue represents a net inflow
    Experiment with different times to observe popularity trends.</p>
    </section>
        <div id = "map" style = "width: 100%; height: 100vh" ></div>
    <div class = "map-content">
        <div class = "menu-container">
            <div class = "menu">
              Choose a time of day:
              <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
                <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
              </select>

            </div>

            <div class = "menu" style = "float: right">
              <button (click)="setHour()" class="btn btn-primary" style = "float: right"> Color My Map! </button>
            </div>
        </div>
        </div>

  <footer>
    <section class="section section-dark">
      <div class="row">
        <div>
          <span class="label label-primary">Author:  </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        </div>
        <div class="col-md-1">
          <a href="https://github.com/hackleman" target="_blank">GitHub</a>
        </div>
      </div>
      </section>
  </footer>
