<div class="container">

        <div id = "map" style="width:100vh;height:80vh" ></div>

        <div class = "menu-container">
            <div class = "menu">
              Choose a time of day: 
              <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
                <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
              </select>

            </div>

            <div class = "menu" style = "float: right">
              <button (click)="setHour()" class="btn btn-primary" style = "float: right"> Color My Map! </button>
            </div>
        </div>
  <br>
  <footer>
    <div class="row">
      <div>
        <span class="label label-primary">Author:  </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a href="https://www.linkedin.com/in/balram-chavan-957511116/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-1">
        <a href="https://github.com/ultrasonicsoft" target="_blank">GitHub</a>
      </div>
    </div>
  </footer>
</div>
