<div class="pimg5-4">
  <div class = "ptext">
    <span class = "border1">
      Average Trips/Hour In Varying Weather Conditions
    </span>
   </div>
  </div>

<section class="section section-dark">
  <p class = "backendtest">
    The average trips per hour in varying weather conditions are analyzed throughout a 24 hour day.

</section>

<section class="section section-white">
<div id="overlay" #overlay><div id="text">Loading...</div></div>
    <canvas #lineChart> {{ chart }}
    </canvas>

</section>


