<div class="pimg5-3">
  <div class = "ptext">
    <span class = "border">
      Popularity By Zone
    </span>
   </div>
  </div>

<section class="section section-dark">
  <p class = "backendtest">
    Use this page to get the popularity for a specific zone by month.
    Zones range from 1 to 265.  After Pressing Locate the graph will change
    to display your results.  For a complete listing of zones, reference the maps section.
  <form (submit)="onZoneSubmit()">
    <div class="form-group">
      <input type="text" [(ngModel)]="zone" name="zone" class="form-control">
    </div>
  </form>
  <input type="submit" (click) = "onZoneSubmit()" class="btn btn-primary" value="Locate"> &nbsp;   
  <input type="submit" (click) = "onZoneCompare()" class="btn btn-primary" value="Compare">
</section>

<div class = "chart-container">
  <canvas #lineChart> {{ chart }}
  </canvas>
</div>
<footer>
  <section class="section section-dark">
    <div class="row">
      <div>
        <span class="label label-primary">Author:  </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-1">
        <a href="https://github.com/hackleman" target="_blank">GitHub</a>
      </div>
    </div>
    </section>
</footer>
