<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


       <div class="pimg4index">
         <div class = "ptext">
           <span class = "border">
             Chart Based Visualizations
           </span>
          </div>
         </div>

     <!-- Headings -->

      <section class="section section-light">
        <p>
        Charts Charts
        </p>
        </section>

        <div [routerLink]="['/timegraph']" class="pimg4index1">
          <div class = "ptext">
            <span class = "border">
              Zone Popularity By Time of Day
            </span>
           </div>
          </div>

      <div [routerLink]="['/timegraph']" class="pimg4index2">
        <div class = "ptext">
          <span class = "border">
            CHART
          </span>
         </div>
        </div>


          <footer>
            <section class="section section-dark">
              <div class="row">
                <div>
                  <span class="label label-primary">Author:  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
                </div>
                <div class="col-md-1">
                  <a href="https://github.com/hackleman" target="_blank">GitHub</a>
                </div>
              </div>
              </section>
          </footer>
