<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


       <div class="pimg4index">
         <div class = "ptext">
           <span class = "border1">
             Charts
           </span>
          </div>
         </div>

     <!-- Headings -->

      <section class="section section-light">
        <p>
        These pages give you visualizations based on factors that may not vary much between zones.  Would you like to know
        how popular a certain zone is by time of day?  Try the Zone popularity page.  Each page gives detailed charts and
        graphs that offer unique insights into city-wide trends.
        </p>
        </section>
		
        <div [routerLink]="['/weathertripavg']" class="pimg4index2">
          <div class = "ptext">
            <span class = "border">
              Trips/Hour for Weather Condition
            </span>
           </div>
          </div>

        <div [routerLink]="['/testchart']" class="pimg4index1">
          <div class = "ptext">
            <span class = "border">
              Popularity over time
            </span>
           </div>
          </div>

      <div [routerLink]="['/weathercost']" class="pimg4index3">
        <div class = "ptext">
          <span class = "border">
            Weather and Average Fare
          </span>
         </div>
        </div>

      <div [routerLink]="['/weatherchart']" class="pimg4index2">
        <div class = "ptext">
          <span class = "border">
            Weather and Average Trip time
          </span>
         </div>
        </div>



          <footer>
            <section class="section section-dark">
              <div class="row">
                <div>
                  <span class="label label-primary">Author:  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
                </div>
                <div class="col-md-1">
                  <a href="https://github.com/hackleman" target="_blank">GitHub</a>
                </div>
              </div>
              </section>
          </footer>
