
<div>
       <div class="pimg1">
         <div class = "ptext">
           <span class = "border1">
             NY Taxi Database App
           </span>
          </div>
         </div>

     <!-- Headings -->

      <section class="section section-dark">
        <h2> NYC TLC Data Set  </h2>
        <p>
        The recent dump of trip data from the NYC Taxi and Limosuine Commission has given us an unprecedented source of
        clean, reliable data for analyzing transportation trends.  The entire dataset totals 1.1 billion entries, encompassing
        everything from the recently implemented borough taxis to the advent of ride-sharing services and their explosion in popularity
        in the last 5 years.  Our database project aims to analyze a subset of this data to make meaningful and interesting
        observations from the year 2017 to the present.  The app focuses on presenting visualizations for our queries using
        maps and charts, with queries sorted by their relevance to you as a driver or a rider.
        </p>
        </section>

        <div  [routerLink]="['maps']" class="pimg2">
          <div  class = "ptext">
            <span class = "border">
              Map-based Visualizations
            </span>
           </div>
          </div>

          <section class="section section-light">
            <h2> Google Maps </h2>
            <p>
            New York City is officially divided into 256 distinct zones, covering all of its major boroughs and neighborhoods.
          These zones encompass familiar areas of Manhattan all the way to neighborhoods of Newark and Staten Island.  Some of the maps allow you to filter results by Zone while others
             allow you to select a paremeter that is applied to all zones simultaneously.  In both cases, Zone maps will be colored by a gradient that will
           let you see a top-level overview of the data.  This makes trends easily observable.  Click on the heading above to start a map-based query. </p>
            </section>

            <div   [routerLink]="['charts']" class="pimg3">
              <div  class = "ptext">
                <span class = "border">
                  Charts
                </span>
               </div>
              </div>

              <section class="section section-light">
                <h2> Charts </h2>
                <p>
                  Charts allow visualizations of trends that may not vary much between zones, or allow for queries from the maps to be analyzed with
                  respect to factors such as time and cost.  Click on the heading above to start a chart-based query.
               </p>
                </section>

                <div class="pimg1-2">
                  <div class = "ptext">
                    <span class = "border1">
                      CIS 4301 Group 2

                    </span>
                   </div>
                  </div>
</div>
