<div class="pimg5">
  <div class = "ptext">
    <span class = "border1">
      TRANSIT TIME BY ZONE
    </span>
   </div>
  </div>
  <section class="section section-dark">
    <p>
      Select a zone and see the average trip time from any other zone in the city.  Blue indicates lower trip times and red higher.</p>
      <input type="submit" (click) = "setStartZone()" class="btn-2" value="Select Zone" > &nbsp;
      <input type="submit" (click) = "setObjectID()" class="btn-2" value="Display Results"> &nbsp;

  </section>

<div #gmap  style = "width: 100%; height: 100vh"></div>
<div id="overlay" #overlay><div id="text">Loading...</div></div>


  <footer>
    <section class="section section-dark">
      <div class="row">
        <div>
          <span class="label label-primary">Author:  </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        </div>
        <div class="col-md-1">
          <a href="https://github.com/hackleman" target="_blank">GitHub</a>
        </div>
      </div>
      </section>
  </footer>
