<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>


       <div class="pimg1">
         <div class = "ptext">
           <span class = "border">
             NY Taxi Database App
           </span>
          </div>
         </div>

     <!-- Headings -->

      <section class="section section-light">
        <h2> Section One </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptate quis tenetur quae similique possimus eius mollitia earum natus nesciunt voluptas ab sunt quod eligendi, dolor architecto quidem libero tempora repellat eum iusto hic, ducimus corporis. Doloribus omnis maxime hic aspernatur nemo dicta accusamus esse, a, eum magnam, nihil amet debitis nostrum quidem voluptatibus adipisci assumenda. Quae recusandae, eveniet quidem ipsa quasi illum, deleniti repudiandae aliquid quo illo saepe iusto eum error nostrum laboriosam animi autem iure odit qui rerum ut est, perferendis! Repudiandae facere pariatur nesciunt, debitis maxime quod. Natus, sunt illo quam, neque molestias perspiciatis nam qui rerum!
        </p>
        </section>

        <div class="pimg2">
          <div class = "ptext">
            <span class = "border">
              Map-based Visualizations
            </span>
           </div>
          </div>

          <section class="section section-dark">
            <h2> Section Two </h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptate quis tenetur quae similique possimus eius mollitia earum natus nesciunt voluptas ab sunt quod eligendi, dolor architecto quidem libero tempora repellat eum iusto hic, ducimus corporis. Doloribus omnis maxime hic aspernatur nemo dicta accusamus esse, a, eum magnam, nihil amet debitis nostrum quidem voluptatibus adipisci assumenda. Quae recusandae, eveniet quidem ipsa quasi illum, deleniti repudiandae aliquid quo illo saepe iusto eum error nostrum laboriosam animi autem iure odit qui rerum ut est, perferendis! Repudiandae facere pariatur nesciunt, debitis maxime quod. Natus, sunt illo quam, neque molestias perspiciatis nam qui rerum!
            </p>
            </section>

            <div class="pimg3">
              <div class = "ptext">
                <span class = "border">
                  Charts
                </span>
               </div>
              </div>

              <section class="section section-dark">
                <h2> Section Three </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis voluptate quis tenetur quae similique possimus eius mollitia earum natus nesciunt voluptas ab sunt quod eligendi, dolor architecto quidem libero tempora repellat eum iusto hic, ducimus corporis. Doloribus omnis maxime hic aspernatur nemo dicta accusamus esse, a, eum magnam, nihil amet debitis nostrum quidem voluptatibus adipisci assumenda. Quae recusandae, eveniet quidem ipsa quasi illum, deleniti repudiandae aliquid quo illo saepe iusto eum error nostrum laboriosam animi autem iure odit qui rerum ut est, perferendis! Repudiandae facere pariatur nesciunt, debitis maxime quod. Natus, sunt illo quam, neque molestias perspiciatis nam qui rerum!
                </p>
                </section>

                <div class="pimg1-2">
                  <div class = "ptext">
                    <span class = "border">
                      CIS 4301 Group 2
                    </span>
                   </div>
                  </div>
