<div class="pimg5-3">
  <div class = "ptext">
    <span class = "border1">
      Hourly Average Net Flow Into Zone Over
    </span>
   </div>
  </div>

<section class="section section-dark">
  <p class = "backendtest">
    Enter Zone Number to view netflow over the course of an average day
  <form (submit)="onZoneSubmit()">
    <div class="form-group">
      <input type="text" [(ngModel)]="zone" name="zone" class="form-control">
    </div>
  </form>
  <input type="submit" (click) = "onZoneSubmit()" class="btn-2" value="Locate">
</section>

<section class="section section-white">

    <canvas #lineChart> {{ chart }}
    </canvas>

</section>


<footer>
  <section class="section section-dark">
    <div class="row">
      <div>
        <span class="label label-primary">Author:  </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-1">
        <a href="https://github.com/hackleman" target="_blank">GitHub</a>
      </div>
    </div>
    </section>
</footer>
