<div class="container">

        <div id = "map" style="width:100vh;height:80vh" ></div>

        <div class = "menu-container">
            <div class = "menu">
              <button (click)="setCategory(1)" class="btn btn-warning"> Yellow Zones </button>
              <button (click)="setCategory(2)" class="btn btn-success">Green Zones</button>
              <button (click)="setCategory(3)" class="btn btn-info">FHV Trips</button>
              <button (click)="setCategory(4)" class="btn btn-info">All Trips</button>

            </div>

            <div class = "menu" style = "float: right">
              <button (click)="Back()" class="btn btn-primary" style = "float: right"> Back </button>
            </div>
        </div>
  <br>
  <footer>
    <div class="row">
      <div>
        <span class="label label-primary">Author:  </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a href="https://www.linkedin.com/in/balram-chavan-957511116/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-1">
        <a href="https://github.com/ultrasonicsoft" target="_blank">GitHub</a>
      </div>
    </div>
  </footer>
</div>
