<div class="pimg5">
  <div class = "ptext">
    <span class = "border">
      TRANSIT TIME BY ZONE
    </span>
   </div>
  </div>
  <section class="section section-dark">
    <p>
      Select a zone and see the average trip time from any other zone in the city.  Blue indicates lower trip times and red higher.</p>
    </section>
<div #gmap  style = "width: 100%; height: 100vh"></div>
<div class = "map-content">
  <div class = "menu-container">
      <div class = "menu" style = "float: right">

        <div id="info-box" style = "float: right; padding-right: 10px">__</div>

      </div>
      <div class = "menu" style = "float: left">
        <button type="button" (click)="setStartZone()" class="btn btn-primary" style="float: left"> Select Zone</button>
      </div>
      <div class = "menu" style = "float: right">
        <button type="button" (click)="setObjectID()" style = "float: right" class="btn btn-primary">Toggle Map</button>
      </div>
      <div class = "menu" style = "float: right">
        <button type="button" (click)="Results()" style = "float: right" class="btn btn-primary">Go To Result!</button>
      </div>
  </div>
</div>
  <footer>
    <section class="section section-dark">
      <div class="row">
        <div>
          <span class="label label-primary">Author:  </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        </div>
        <div class="col-md-1">
          <a href="https://github.com/hackleman" target="_blank">GitHub</a>
        </div>
      </div>
      </section>
  </footer>
