<div class="container">
          <div #gmap  style = "width: 100vh; height: 80vh"></div>
  <div class = "menu-container">
      <div class = "menu" style = "float: left">
        <div id="info-box" style = "float: left; padding-right: 10px">__</div>
        <button type="button" (click)="setStartZone()" class="btn btn-primary" style="float: left"> Select starting zone</button>
      </div>

      <div class = "menu" style = "float: left">
        <button type="button" (click)="setObjectID()" style = "float: left" class="btn btn-primary">Toggle Map</button>
      </div>


      <div class = "menu" style = "float: right">
        <button type="button" (click)="Results()" style = "float: right" class="btn btn-primary">Go To Result!</button>
      </div>
  </div>
  <br>
  <footer>
    <div class="row">
      <div>
        <span class="label label-primary">Author:  </span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
      </div>
      <div class="col-md-1">
        <a href="https://github.com/hackleman" target="_blank">GitHub</a>
      </div>
    </div>
    <div id="legend">
    Average Time per Trip:
    <br>
    <br>
    <div id=squares>
          <div id=square2>lower</div>
          <br>
          <div id=square>higher</div>
    </div>
    </div>
  </footer>
</div>
