<div class="pimg5-1">
  <div class = "ptext">
    <span class = "border1">
    TIME OF DAY AND AVERAGE FARE
    </span>
   </div>
  </div>
  <section class="section section-dark">
    <p>
      An analysis of zones by average total cost.  Select an hour of the day in the drop box below, then click submit to see
      a map of New York City color coded by average fare.  Red represents higher fares and blue lower.</p>
      <div class="col-12 justify-content-center">
        <ngb-timepicker [(ngModel)]="time" [meridian]="meridian"></ngb-timepicker>
      </div>
      <button (click)="setColor(0)" class="btn-2"> Display Results </button> &nbsp;&nbsp;
      <button (click)="setColor(1)" class="btn-2"> Display All </button>
    </section>

  <div id = "map" style = "width: 100%; height: 100vh" ></div>
  <div id="overlay" #overlay><div id="text">Loading...</div></div>

  <footer>
    <section class="section section-dark">
      <div class="row">
        <div>
          <span class="label label-primary">Author:  </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a>
        </div>
        <div class="col-md-1">
          <a href="https://github.com/hackleman" target="_blank">GitHub</a>
        </div>
      </div>
      </section>
  </footer>
